<header>
  <div class="inner">
    <div class="logo">
      <img src="/imgs/logo.svg" alt="logo" />
      <span>DENO中文社区</span>
    </div>

    <nav>
      <a href="#">首页</a>
      <a href="#">新手入门</a>
      <a href="#">API</a>
      <a href="#">关于</a>
      <a href="#">登录</a>
    </nav>
  </div>
</header>
