<header>
  <div class="inner">
    <div class="logo">
      <img src="/imgs/logo.svg" alt="logo" />
      <span>DENO中文社区</span>
    </div>

    <nav>
      <a href="/">首页</a>
      <a href="/getting-start">新手入门</a>
      <a href="https://deno.land/" target="_blank">官网</a>
      <a href="/api">Deno API</a>
      <a href="/about">关于</a>

      <% if (!user) { %>
      <a href="/user/login">登录</a>
      <% } else { %>
      <a href="/user/logout">退出</a>
      <% } %>

    </nav>
  </div>
</header>
